


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  min-height: 100vh;
  padding: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.AppHeader{
  width: 100%;
  min-height: 15vh;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}


.logoLink{
  color: black;
  text-decoration: none;
}

.logo{
  width: 50px;
  height: 50px;
}

.subContainer{
  display: none;
}

.AppUl{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}

.nav-links{
  color: black;
  text-decoration: underline;
}

.cartIconContainer{
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid;

    .cartIcon{
      width: 30px;
      height: 30px;
    }
    
    .itemCount{
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      bottom: 8px;
    }
}


.cart-dropdown{
  position: absolute;
  width: 300px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 100%;
  right: 0;
  // z-index: 5;


  .cart-items{
      height: 300px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
  }
  
  button{
      margin-top: auto;
      padding: 10px;
      background-color: black;
      color: white;
  }
}

footer{
  border: 1px solid;
  min-height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  margin: 50px 0 0 0;

  a{
    color: white;
    display: inline-block;
    text-decoration: none;
    width: 100%;

    &:hover{
      transform: scale(1.1);
    }
  }

  button{
    outline: none;
    border: none;
    background-color: black;
    cursor: pointer;

    &:hover{
      transform: scale(1.1);
    }
  }

  .sectionOneContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    width: 60%;
    min-height: 100px;

  }
  
  .socialMedia{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    max-width: 100%;
    border: 1px solid;

    img{
      width: 30px;
      height: 30px;
    }
  }
}


@media (max-width: 768px){
  
  .AppHeader{
    flex-direction: column;
  }

  .anotherMenu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .subContainer{
    display: flex;
  }

  .AppUl{
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .nav-links{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border: 1px solid red;
  }

  footer{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;

    .sectionOneContainer{
      flex-direction: column;
      text-align: center;

      div{
        margin: 15px 0;
      }
    }

    .socialMedia{
      margin: 15px 0;
    }
  }

  .menu
  {
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border: 1px solid;
  z-index: 1;
  }

  .burger
  {
  width:20px;
  height: 3px;
  background: black;
  transition: all .2s ease-in-out;
  border-radius: 20px
  }

  .burger::before,
  .burger::after
  {
  content: "";
  position:absolute;
  width:20px;
  height: 3px;
  background: black;
  transition: all .2s ease-in-out;
  border-radius: 20px
  }


  .burger::before
  {
  transform: translateY(-9px)
  }

  .burger::after
  {
  transform: translateY(9px)
  }

  .menu.open .burger
  {
  transform: translateX(-50px);
  background: transparent;
  box-shadow:none
  }

  .menu.open .burger::before
  {
  transform: rotate(45deg) translate(35px,-35px);
  }

  .menu.open .burger::after
  {
  transform: rotate(-45deg) translate(35px, 35px);
  }
  
}


/* 
body{
  background: #0d1521;
  font-family: tahoma;
  color: #989898;
}

#todo-table{
  position: relative;
  width: 95%;
  background: #090d13;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#todo-table form:after{
  margin: 0;
  content: '';
  display: block;
  clear: both;
}

input[type="text"]{
  width: 70%;
  padding: 20px;
  background:#181c22;
  border: 0;
  float: left;
  font-size: 20px;
  color: #989898;
}

button{
  padding: 20px;
  width: 30%;
  float: left;
  background: #23282e;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li{
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
  font-family: arial;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
}

.taskContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

li:hover{
  text-decoration: line-through;
  background: rgba(0,0,0,0.2);
}

h1{
  margin-bottom: 0;
  text-indent: -10000px;
} */
