.cartItem{
    display: flex;
    width: 90%;
    border: 1px solid;
    margin: 0 0 20px 0;
    // height: 240px;

    .cartItemImg{
        width: 50%;
    }


    .itemDetails{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    button{
        cursor: pointer;
    }
}

