.checkoutContainer{
    width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto ;

    p{
        font-size: 24px;text-align: center;
    }

    .product{
        display: flex;
        justify-content: center;
        margin: 10px 0;

        .img{
            width: 18%;
        }

        .productDetails{
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .btnContainer{
                max-width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                button{
                    width: 30px;
                    font-size: 18px;
                    padding: 5px 0;
                    text-align: center;
                    background-color: black;
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

    }

}


@media (max-width: 768px){
    

    
        .checkoutContainer{

            .product{
                flex-direction: column;
                align-items: center;
        
                .img{
                    width: 100%;
                }
        
                .productDetails{
                    align-items: center;
            
                    .btnContainer{
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }
    

    

    
}

