.contactPage{
    display: flex;
    justify-content: center;
    width: 100%;

    form{
        width: 750px;
        max-width: 100%;
        border: 1px solid;
        padding: 0 35px;


        .mainInputs{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            
        }

        input{
            display: block;
            width: 320px;
            padding: 10px;
            margin: 10px 0;
        }

        .services{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;


            input{
                display: block;
                width: 142px;
                padding: 10px;
                margin: 10px 0;
                border: 1px solid;
                cursor: pointer;
                
                &:focus{
                    outline: none;
                }
            }
        }

        button{
            width: 150px;
            padding: 10px 0;
            margin: 10px auto;
        }
    
    }
}


textarea{
    display: block;
    width: 695px;
    max-width: 100%;
    overflow-y: hidden;
    resize: none;
    margin: 0 auto;
}




        
@media (max-width: 768px){

    .contactPage{

        form{
            .mainInputs{
                flex-direction: column;
                
                input{
                    width: 100%;
                }
            }
    
            .services{
                input{
                    width: 45%;
                }
            }
        }
    }
    
}

@media (max-width: 375px){

    .contactPage{

        form{
            
    
            .services{
                input{
                    width: 100%;
                }
            }
        }

    }
    
}   