.membersPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header{
        margin: 50px 0 0 0;
        width: 500px;
        max-width: 100%;
            
        .headerLinks{
            padding: 5px 0;
            border: 1px solid;
            text-decoration: none;
            color: black;
            display: inline-block;
            width: 25%;
            text-align: center;
            text-align: center;
        }

        
    }

    .benefitsContainer{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        overflow-x: scroll;
        margin: 50px 0;
    
    
        .benefits{
            border: 1px solid black;
            color: black;
            text-decoration: none;
    
            flex-shrink: 0;
            width: 300px;
            margin: 10px 0;
            height: 283.77px;
    
            .benefitsImg{
                width: 100%;
                height: 199.71px;
            }
    
            p{
                font-size: 18px;
                margin: 20px 0;
            }
        }
    }
    
}

@media (max-width: 912px){
    .membersPage{

        .header{
            .headerLinks{
                width: 23%;
            }

            .bigLink{
                width: 30%;
            }
        }

        .benefitsContainer{
            justify-content: space-between;
        }
    }
}