.order{
    width: 100%;
    margin: 20px auto;
    border: 1px solid black;

    .orderHeader{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product{
        width: 100%;
        display: flex;
        border-top: 1px solid black;

        .img{
            width: 18%;
        }

        .productDetails{
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .btnContainer{
                width: 310px;
                max-width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 0 0 10px 0;

                .addToCartBtn,.linkBtn{
                    width: 150px;
                    font-size: 18px;
                    padding: 10px 0;
                    text-align: center;
                    background-color: black;
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

    }
}

@media (max-width: 768px){
    
    .order{    
        .orderHeader{
            flex-direction: column;
            justify-content: unset;
            text-align: center;
        }
    
        .product{
            flex-direction: column;
            align-items: center;
            border: 1px solid white;
    
            .img{
                width: 100%;
            }
    
            .productDetails{
                align-items: center;
        
                .btnContainer{
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
    

    

    
}
