.intro{
    display: flex;
    border: 1px solid black;

    .profileImg{
        width: 96px;
        height: 96px;
        background-color: #E5E5E5;
        border: 1px solid red;
        border-radius: 50%;

    }
}


.benefitsContainer{
    display: flex;
    flex-shrink: 0;
    border: 1px solid green;
    width: 100%;
    overflow-x: scroll;


    .benefits{
        border: 1px solid purple;
        min-width: 318px;
        width: 319px;
        margin: 10px 0;
        height: 283.77px;

        .benefitsImg{
            width: 100%;
            height: 199.71px;
        }

        p{
            font-size: 18px;
            margin: 20px 0;
        }
    }
}

/* 12871875
1.147735016678024
*/